Projects/app.py
Projects/.vscode
Projects/sales.py
Projects/__pycache__
Projects/tadaspdf
ecommerce/
lessons/
movies.json
db.sqlite3
template.html
env*
.vscode
Pipfile
Pipfile.lock
project-pyyelp
project-pyselenium
project-pycrawler